@import "tailwindcss";

.leaflet-popup {
  margin-top: 8px !important;
}

.leaflet-popup-content-wrapper {
  padding: 0px !important;
  margin: 0px !important;
  background-color: white !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px !important;
}

.leaflet-popup-content {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 16px !important;
  color: black !important;
  width: 100% !important;
}

.leaflet-popup-tip {
  background-color: white !important;
  border: none !important;
  border-radius: 0px !important;
}

.leaflet-popup-close-button {
  display: none !important;
}

.leaflet-marker-icon {
  padding: 8px !important;
}

@media (min-width: 768px) {
  .leaflet-container {
    height: calc(100vh - 32px) !important;
  }
}

@media (max-width: 767px) {
  .leaflet-container {
    height: calc(100vh - 248px) !important;
  }
}